/* body */

body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* header */

.header{
    position: fixed;
    top: 50%;
    left: 5%;
    width: 20%;
    height: fit-content;
    transform: translateY(-50%);
    background-color: #f8f8f8;
    box-sizing: border-box;
}

.header_text{
    padding: 20% 15%;
    border: 1px solid #070707;
}

.header h1{
    text-decoration: none;
    font-size: 100%;
    font-weight: 500;
    margin: 0%;
}

.header_post{
    color: #929292;
    font-size: 40%;
    font-weight: 300;
}

.header ul{
    list-style: none;
    padding: 10% 0%;
}

.header li{
    margin: 0% 0%;
    padding-top: 2%;
}

.header a{
    text-decoration: none;
    color: #070707;
    font-size: 80%;
    font-weight: 300;
}

.header a:hover{
    text-decoration: underline;
    text-shadow: 
        0.5px 0 0 currentColor,
        -0.5px 0 0 currentColor;
}

.header_copyright{
    color: #929292;
    font-size: 40%;
    font-weight: 300;
    padding-top: 7%;
}



/* main */

main{
    margin: 0% 5%;
    margin-left: calc(25% + 5%);
}

/* section */

section{
    padding: 5%;
    margin: 3% 0%;
}

/* Youtube */

.youtube{
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
}

/* top */

.top{
    background-color: #f8f8f8;
    box-sizing: border-box;
    border: 1px solid #070707;
    margin-top: 10%;
    display: flex;
}

.top h1{
    text-decoration: none;
    font-size: 200%;
    font-weight: 500;
}

.top_belong{
    font-size: 100%;
    font-weight: 300;
    margin: 10% 0%;
}

.top_about{
    font-size: 100%;
    font-weight: 300;
    line-height: 150%;
    margin: 10% 0%;
}

.top_tools{
    font-size: 120%;
    font-weight: 500;
    margin: 3% 0%;
}

.top ul{
    list-style: none;
    font-size: 100%;
    font-weight: 300;
}

/* showreel */

.showreel{
    background-color: #f8f8f8;
    box-sizing: border-box;
    border: 1px solid #070707;
    margin-top: 0%;
}

/* works */

/* archive */

/* other */
