
.mvimage {
    width: 1200px;
    margin: auto;
    padding-top: 160px;
    position: relative;
}

.mvimage img{
    width: 100%;
}

.logoimage {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 25%;
}

.mvtext{
    position: absolute;
    text-align: center;
    bottom: 25px;
    right: 0px;
    left: 0px;
    text-shadow: 0 0 8px gray;
}

.mvtext h1{
    color: #FFFFFF;
    font-size: 6.8rem;
    font-weight: 200;
    letter-spacing: 0.8rem;
}

.mvtext p{
    color: #FFFFFF;
    font-size: 2.4rem;
    padding: 60px 0px;
}

/* ========================
    About 
    =======================*/

.about{
    width: 1200px;
    padding-top: 100px;
    margin: auto;
}

.about_text_rapper{
    display: flex;
    justify-content: space-between;
}

.abouttext{
    width: 55%;
    padding-top: 4%;
}

.abouttext h1{
    color: #000000;
    font-size: 2.6rem;
    letter-spacing: 0.4rem;
    font-weight: 800;
}

.abouttext p{
    color: #000000;
    font-size: 2rem;
    padding: 30px 0px;
}

.kodawariimage{
    padding-left: 30px;
}

.about_picture{
    display: flex;
    justify-content: center;
}

.about_pciture img{
    width: 90%;
}

.shoplogo{
    text-align: center;
    margin-top: 8%;
}

.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}

.box1 {
    padding: 2em 2em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}
.box1 p {
    line-height: 3rem;
    margin: 0; 
    padding: 0;
}

.box2 {
    padding: 2em 2em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}
.box2 p {
    line-height: 3rem;
    margin: 0; 
    padding: 0;
}
